.element__like {
    background-image: url(../../../src/images/like-disabled.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: initial;
    /* margin: 5px 5px 1px auto; */
    margin: 0 auto;
    width: 22px;
    height: 19px;
    border: none;
    display: flex;
    cursor: pointer;
    transition: .5s;
}

.element__like:hover {
    opacity: .5;
}

.element__like_active {
    background-image: url(../../../src/images/like-active.svg);
}