.form {
    width: 430px;
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    color: #000;
    padding-top: 34px;
    padding-bottom: 37px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

@media (max-width:767px) {
    .form {
        width: 282px;
        padding: 25px 0;
    }
}