.header {
    margin: 0 auto;
    max-width: 880px;
    min-width: 320px;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media (min-width: 880px) {
    .header {
        min-height: 74px;
    }
}

@media (max-width: 879px) {
    .header {
        min-height: 56px;
    }
}