.profile__caption {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    max-width: 336px;
}

@media (max-width:767px) {
    .profile__caption {
        font-size: 14px;
        line-height: 17px;
        max-width: 282px;
    }
}