.profile__caption {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    max-width: 336px;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden;
}

@media (max-width:767px) {
    .profile__caption {
        max-width: 282px;
        font-size: 14px;
        line-height: 17px;
    }
}