.profile__name {
    margin: 0;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
}

@media (max-width:767px) {
    .profile__name {
        font-size: 27px;
        line-height: 33px;
    }
}