.form__input {
    margin: 0;
    padding: 0;
    width: 358px;
    /* margin-bottom: 30px; */
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-family: inherit;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 13px;
    cursor: pointer;
}

@media (max-width:767px) {
    .form__input {
        width: 238px;
    }
}

.form__input::placeholder {
    color: rgba(0, 0, 0, .2);
}

.form__input:focus {
    outline: none;
}

.form__input_invalid {
    border-bottom: 1px solid #FF0000;
}