.form__save-handler {
    width: 358px;
    height: 50px;
    margin-top: 18px;
    border: none;
    border-radius: 2px;
    background-color: #000;
    color: #fff;
    transition: .3s;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
}

@media (max-width:767px) {
    .form__save-handler {
        width: 238px;
        height: 46px;
        margin-top: 15px;
        font-size: 14px;
        line-height: 17px;
    }
}

.form__save-handler:hover {
    opacity: .8;
}