.element {
    width: 282px;
    padding-bottom: 31px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
}